body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
}
.box{
    display: flex;

}

#input{
    margin-left: 5px;
    border-radius: 8px;
}